<div class="flex bg-sky-300 h-10 px-3 py-2 items-center">
    <h2 class="text-3xl font-bold"><a routerLink="/home">Car Manager</a></h2>
    <div class="space-x-4 ml-auto">
    <a routerLink="/dashboard" class="hover:text-blue-800">Dashboard</a>
    <a routerLink="/postcar" class="hover:text-blue-800">Post Car</a>
    <a routerLink="/login" class="hover:text-blue-800">Signout</a>
    <a href="http://localhost:5555/swagger-ui/index.html#/car-controller/updateCar" class="hover:text-blue-800"> Docs</a>
    </div>
</div>
